<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias="CalendarPrice"
                   type="group.chaoliu.lightchaser.core.fission.ota.domain.po.OTACalendarPricePO"/>
        <typeAlias alias="Product" type="group.chaoliu.lightchaser.core.fission.ota.domain.po.OTAProductPO"/>
        <typeAlias alias="Site" type="group.chaoliu.lightchaser.core.fission.common.domain.SitePO"/>
        <typeAlias alias="JobType" type="group.chaoliu.lightchaser.core.fission.common.domain.JobTypePO"/>
        <typeAlias alias="Proxy" type="group.chaoliu.lightchaser.core.fission.proxy.domain.ProxyPO"/>
        <typeAlias alias="ImageInfo" type="group.chaoliu.lightchaser.core.fission.picture.domain.po.ImageInfoPO"/>
        <typeAlias alias="ImageCategory"
                   type="group.chaoliu.lightchaser.core.fission.picture.domain.po.ImageCategoryPO"/>
    </typeAliases>

</configuration>