<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias="DatePrice" type="me.chaoliu.lightchaser.core.fission.ota.domain.DatePriceVO"/>
        <typeAlias alias="Product" type="me.chaoliu.lightchaser.core.fission.ota.domain.ProductVO"/>
        <typeAlias alias="ProxyVO" type="me.chaoliu.lightchaser.core.fission.proxy.domain.ProxyVO"/>
        <typeAlias alias="ArchiveVO" type="me.chaoliu.lightchaser.core.fission.archive.domain.ArchiveVO"/>
        <typeAlias alias="WebPage" type="me.chaoliu.lightchaser.core.fission.webpage.WebPage"/>
    </typeAliases>

</configuration>